[submodule "public"]
	path = public
	url = git@github.com:CastellaFactory/CastellaFactory.github.io.git
	branch = master
[submodule "themes/bootstrap2hugo"]
	path = themes/bootstrap2hugo
	url = git@github.com:Fale/bootstrap2hugo.git
	branch = master
